<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@500;600&family=Cedarville+Cursive&family=Libre+Baskerville:ital@1&family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

<body>
    <header>     
        <div class="opack">
            <div class="heading">

                <nav id="navbar">
                    <ul id="navv">
                        <li class="list" id="lisign"> <a href="/sign" id="sign">SIGNUP/LOGIN</a></li>
                        <li class="list" id="limenu"><a href="/menu" id="menu">FULL MENU</a></li>
                        <li class="list" id="contact">(+91)888-999-1000</li>
                    </ul>
                </nav>
                <div class="findyourpick">
                    <p><a href="/menu" id="linkmen">FIND YOUR PICK</a></p>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="card" id="card1"></div>
        <div class="card" id="card2"></div>
        <div class="card" id="card3"></div>
    </div>

    <footer>
      <div class="foot" id="foot1" >
       <p id="p1">JOIN OUR NEWSLETTER</p>
       <input type="email" name="email" id="email" placeholder="Enter Your Email">
       
       <p style="color:white; margin-left:10px; margin-top:70px;"><i style='font-size:24px' class='fas'>&#61592;</i>WE ARE HERE TO HELP YOU . CALL US AT (+91)888-999-1000</p>
      </div>
      <div class="foot" id="foot2">
        <div class="logos">
        <div class="instagram"> <a href=""> <img src="instagramlogo.jpeg" style="height:50px; width:50px; border-radius:10px;"></a></div>
        <div class="facebook"> <a href=""><img src="facebooklogo.jpeg" style="height:50px; width:50px; border-radius:10px;"></a></div>
         <div class="twitter"> <a href=""><img src="twitterlogo.jpeg" style="height:50px; width:50px; border-radius:10px;"></a></div>
        
        </div>
        <p style="color:white; text-align:center;">FIND US ON THESE SOCIALS </p>
      </div>
      <div class="foot" id="foot3"></div>
    </footer>
</body>

</html>